<ion-header>
  <ion-toolbar>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>button with text</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="content__card">
      <yu-button class="btn--small">Text</yu-button>
      <yu-button class="btn--medium">Text</yu-button>
      <yu-button class="btn--large">Text</yu-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>button with text</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
  
      <ion-card-content class="content__card">
        <yu-button class="btn--medium color--primary">Text</yu-button>
        <yu-button class="btn--medium color--easy">Text</yu-button>
        <yu-button class="btn--medium color--stress">Text</yu-button>
        <yu-button class="btn--medium color--relax">Text</yu-button>
        <yu-button class="btn--medium color--attention">Text</yu-button>
      </ion-card-content>
  
    </ion-card>

</ion-content>