.title__content {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}

ion-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;

  //   & > yu-button + yu-button {
  //     margin-left: 2rem;
  //   }

  & yu-button {
    margin: 1rem;
  }
}

ion-card-content {
  background-color: rgba(247,247,249);
}

code{
  background-color: transparent;
}
