

ion-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding-top: 2rem;
  overflow: scroll;

  //   & > yu-button + yu-button {
  //     margin-left: 2rem;
  //   }

  & yu-button {
    margin: 1rem;
  }
}

ion-card-content {
  background-color: rgba(247,247,249);
}

code{
  background-color: transparent;
}