<ion-header>
  <ion-toolbar>
    <ion-title>Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <showcase-title>Button with text</showcase-title>
  <ion-card>

    <ion-card-header>
      <yu-button class="btn--small">Text</yu-button>
      <yu-button class="btn--medium">Text</yu-button>
      <yu-button class="btn--large">Text</yu-button>
    </ion-card-header>

    <ion-card-content>
      
      <pre><code [highlight]="code_withText"></code></pre>
      
    </ion-card-content>

  </ion-card>

  <showcase-title>Colors</showcase-title>
  <ion-card>
    <ion-card-header>
      <yu-button class="btn--medium color--primary">Text</yu-button>
      <yu-button class="btn--medium color--easy">Text</yu-button>
      <yu-button class="btn--medium color--stress">Text</yu-button>
      <yu-button class="btn--medium color--relax">Text</yu-button>
      <yu-button class="btn--medium color--attention">Text</yu-button>
    </ion-card-header>

    <ion-card-content>
      <pre><code [highlight]="code_colors"></code></pre>
    </ion-card-content>

  </ion-card>

</ion-content>