button {
  --btn-size-large: 3rem;
  --btn-size-medium: 2rem;
  --btn-size-small: 1rem;

  all: unset;

  display: inline-flex;
  justify-content: space-around;
  align-items: center;

  background-color: var(--color-global);
  color: white;
  border: 1px white solid;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  transition-duration: 0.3s;

  &:hover {
    background-color: var(--color-global);
    box-shadow: 0px 0px 8px var(--color-global);
  }

  &:active {
    background-color: var(--color-global-active);
  }
}

// large
:host(.btn--large) button {
  font-size: var(--btn-size-large);
  padding: calc(var(--btn-size-large) - 2rem) calc(var(--btn-size-large) * 1.5);
  border-radius: calc(var(--btn-size-large) - 2rem);

  &::ng-deep img {
    width: var(--btn-size-large);
    height: var(--btn-size-large);
  }
}

// medium
:host(.btn--medium) button {
  font-size: var(--btn-size-medium);
  padding: calc(var(--btn-size-medium) - 1.25rem) calc(var(--btn-size-medium) + 0.5rem);
  border-radius: calc(var(--btn-size-medium) - 1.5rem);

  &::ng-deep img {
    width: var(--btn-size-medium);
    height: var(--btn-size-medium);
  }
}

// small
:host(.btn--small) button {
  font-size: var(--btn-size-small);
  padding: calc(var(--btn-size-small) - 0.5rem) calc(var(--btn-size-small) + 0.3rem);
  border-radius: calc(var(--btn-size-small) - 0.6rem);

  &::ng-deep img {
    width: var(--btn-size-small);
    height: var(--btn-size-small);
  }
}

// color
:host(.color--primary) button {
  --color-global: var(--color-primary);
  --color-global-active: var(--color-primary-dark);
}
:host(.color--easy) button {
  --color-global: var(--color-easy);
  --color-global-active: var(--color-easy-dark);
}
:host(.color--stress) button {
  --color-global: var(--color-stress);
  --color-global-active: var(--color-stress-dark);
}
:host(.color--relax) button {
  --color-global: var(--color-relax);
  --color-global-active: var(--color-relax-dark);
}
:host(.color--attention) button {
  --color-global: var(--color-attention);
  --color-global-active: var(--color-attention-dark);
}