<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Welcome to </ion-card-subtitle>
        <ion-card-title>YuWidget</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>I collect all the widgets I've been seen and implement them. To make sure i also have the skill to develop by myself.</p>
      </ion-card-content>
    </ion-card>
</ion-content>
