/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*global CSS variable*/
@import '~highlight.js/styles/github.css';
:root {
  --color-primary: #007bff;
  --color-primary-dark: #036bda;
  --color-easy: #28a745;
  --color-easy-dark: #238f3c;
  --color-stress: #dc3545;
  --color-stress-dark: #ba2d3b;
  --color-relax: #20c997;
  --color-relax-dark: #1bab80;
  --color-attention: #ffc107;
  --color-attention-dark: #d3a007;

  --color-global: var(--color-primary);
  --color-global-active: var(--color-primary-dark);
}

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
